<app-navbar></app-navbar>


<h2 class="w-full flex justify-center text-black text-4xl my-3 p-1">Hoteles</h2>
<div *ngIf="_userService.getIdentity().role === 'ROL_ADMIN_APP'" class="flex">
    <button
        class="modal-open flex justify-center mx-auto py-2 my-2 w-1/3 rounded-lg bg-black text-white border border-black hover:text-black hover:bg-white" (click)="modal()">
        <p class="self-center mx-1">+</p>
        <p class="self-center"> Agregar Hotel </p>
        <p class="self-center mx-1">+</p>
    </button>
</div>
<div *ngFor="let hotels of getHotels; let i = index" class="w-full h-1/2 flex justify-center mb-5">
    <figure class="md:flex   bg-gray-200 rounded-xl p-8 md:p-0 w-11/12 mx-auto shadow-2xl">

        <img *ngIf="hotels.image === 'null'" src="../../../assets/img/hotel.jpg"
            class="md:w-6/12 lg:w-4/12 w-32 h-32  md:w-48 md:h-96 md:rounded-l-xl md:rounded-r-none rounded-full mx-auto md:mx-0">
        <img *ngIf="hotels.image != 'null'" [src]="hotels.image"
            class="md:w-6/12 lg:w-4/12 w-32 h-32  md:w-48 md:h-96 md:rounded-l-xl md:rounded-r-none rounded-full mx-auto md:mx-0">
        <div class="pt-6 md:p-8 text-center md:text-left ">
            <div class="md:flex grid-cols-2">
                <blockquote class="">
                    <p class="text-lg font-semibold ">
                        Nombre: {{hotels.name}}
                    </p>
                    <p class="text-lg font-semibold ">
                        Direccion: {{hotels.address}}
                    </p>
                    <p class="text-lg font-semibold ">
                        Solicitudes Hechas: {{hotels.requests}}
                    </p>
                </blockquote>

                <blockquote>
                    <!--Habitaciones-->
                    <div
                        class="items-center rounded-lg flex justify-between flex-wrap bg-black py-1 px-0.5 m-1 group focus:outline-none focus:ring-2 border border-gray-900 ">
                        <h1 class="text-1xl items-center text-white px-1">Habitaciones</h1>
                        <div class=" text-white self-center">
                            <button
                                class="buttonRooms text-black rounded-lg group focus:outline-none focus:ring-2 bg-white border border-black px-2"
                                (click)="cmbRooms(i)">
                                \/
                            </button>
                        </div>

                        <div
                            class="menuRooms w-full flex-grow text-center hidden bg-white bg-opacity-25 h-60 overflow-y-auto">
                            <h2 class="my-2 text-lg text-white">Habitaciones</h2>
                            <div *ngFor="let rooms of hotels.rooms" class="w-full h-1/2 flex justify-center mb-5">
                                <figure class="flex  h-auto bg-gray-200 rounded-xl p-0 w-11/12 mx-auto shadow-2xl">

                                    <img *ngIf="rooms.imageRoom === null" src="../../../assets/img/room.png"
                                        class=" w-28 h-auto rounded-l-xl rounded-r-none mx-0">
                                    <img *ngIf="rooms.imageRoom" [src]="rooms.imageRoom"
                                        class=" w-28 h-auto rounded-l-xl rounded-r-none mx-0">
                                    <div class="pt-1 md:p-2 text-left px-2">
                                        <blockquote>
                                            <p class="text-sm font-semibold ">
                                                Nombre: {{rooms.nameRoom}}
                                            </p>
                                            <p class="text-sm font-semibold ">
                                                Descripcion: {{rooms.descriptionRoom}}
                                            </p>
                                            <p class="text-sm font-semibold ">
                                                Servicios: {{rooms.services}}
                                            </p>
                                            <p class="text-sm font-semibold ">
                                                Costo: Q.{{rooms.cost}}.00
                                            </p>
                                        </blockquote>


                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <!--Eventos-->
                    <div
                        class="items-center rounded-lg flex justify-between flex-wrap bg-black py-1 px-0.5 m-1 group focus:outline-none focus:ring-2 border border-gray-900 ">
                        <h1 class="text-1xl items-center text-white px-1">Events</h1>
                        <div class=" text-white self-center">
                            <button
                                class="botonEvents text-black rounded-lg group focus:outline-none focus:ring-2 bg-white border border-black px-2"
                                (click)="cmbEvents(i)">
                                \/
                            </button>
                        </div>

                        <div
                            class="menuEvents w-full flex-grow text-center hidden bg-white bg-opacity-25 h-60 overflow-y-auto">
                            <h2 class="my-2 text-lg text-white">Eventos</h2>
                            <div *ngFor="let events of hotels.events" class="w-full h-1/2 flex justify-center mb-5">
                                <figure class="flex  h-auto bg-gray-200 rounded-xl p-0 w-11/12 mx-auto shadow-2xl">

                                    <img *ngIf="events.imageRoom === null" src="../../../assets/img/room.png"
                                        class=" w-28 h-auto rounded-l-xl rounded-r-none mx-0">
                                    <img *ngIf="events.imageRoom" [src]="events.imageRoom"
                                        class=" w-28 h-auto rounded-l-xl rounded-r-none mx-0">
                                    <div class="pt-1 md:p-2 text-left px-2">
                                        <blockquote>
                                            <p class="text-sm font-semibold ">
                                                Nombre: {{events.nameEvent}}
                                            </p>
                                            <p class="text-sm font-semibold ">
                                                Descripcion: {{events.descriptionEvent}}
                                            </p>
                                            <p class="text-sm font-semibold ">
                                                Tipo Evento: {{events.typeEvent}}
                                            </p>
                                        </blockquote>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                </blockquote>
            </div>
            <div *ngIf="_userService.getIdentity().role === 'ROL_ADMIN_APP'" class="flex">
                <button
                    class="modal-edit-hotel-open justify-center p-1 m-1 rounded-lg bg-black text-white border border-black hover:text-black hover:bg-white"
                    (click)="modalEditHotel(); serchHotelById(hotels._id)">
                    <p class="self-center"> Editar Hotel </p>
                </button>
                <button
                    class="modal-delete-hotel-open flex justify-center p-1 m-1 rounded-lg bg-black text-white border border-black hover:text-black hover:bg-white"
                    (click)="modalDeleteHotel(); serchHotelById(hotels._id)">
                    <p class="self-center"> Eliminar Hotel </p>
                </button>
            </div>
        </div>
    </figure>
</div>



<!--MODAL AGREGAR HOTEL-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <div
            class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
            </svg>
            <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->

            <div class="flex justify-between items-center pb-3">

                <div class="flex font-bold justify-center items-center  my-3">
                    <img class="h-10 w-10" src="../../../assets/img/iconHotel.png">
                    <h2 class="px-2 text-3xl"> H O T E L I N G </h2>
                </div>
                <div class="modal-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path
                            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>
            <p class="text-xl font-bold">Registrar Hotel</p>


            <!--Body-->
            <form class="w-full bg-gray-200 rounded-lg border border-black shadow-xl mt-2">
                <div class="px-12 pb-10">
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 my-2">Nombre Hotel</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Nombre Hotel"
                                class="-mx-6 px-8  w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="name" #name="ngModel" [(ngModel)]="modelHotel.name">
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">Dirección</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Dirección"
                                class="-mx-6 px-8  w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="address" #address="ngModel" [(ngModel)]="modelHotel.address">
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">Id del Administrador</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Administrador del Hotel"
                                class="-mx-6 px-8 w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="administratorId" #administratorId="ngModel" [(ngModel)]="modelHotel.administratorId">
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">URL de Imagen</h2>
                        <p>En caso de no tener imagen, coloque 'null'.</p>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="URL de la imagen"
                                class="-mx-6 px-8 w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="image" #image="ngModel" [(ngModel)]="modelHotel.image">
                        </div>
                    </div>
                </div>
            </form>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button
                    class="modal-close px-4 bg-white text-black p-3 rounded-lg text-black hover:bg-black hover:text-white mr-2">Cancelar</button>
                <button
                    class="modal-close px-4 bg-white text-black p-3 rounded-lg text-black hover:bg-black hover:text-white mr-2"
                    type="submit" (click)="addHotel()">Agregar</button>
            </div>

        </div>
    </div>
</div>

<!--MODAL EDITAR HOTEL-->
<div class="modal-edit-hotel opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-edit-hotel-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <div
            class="modal-edit-hotel-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
            </svg>
            <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->

            <div class="flex justify-between items-center pb-3">

                <div class="flex font-bold justify-center items-center  my-3">
                    <img class="h-10 w-10" src="../../../assets/img/iconHotel.png">
                    <h2 class="px-2 text-3xl"> H O T E L I N G </h2>
                </div>
                <div class="modal-edit-hotel-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path
                            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>
            <p class="text-xl font-bold">Editar Hotel</p>


            <!--Body-->
            <form class="w-full bg-gray-200 rounded-lg border border-black shadow-xl mt-2">
                <div class="px-12 pb-10">
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 my-2">Nombre Hotel</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Nombre Hotel"
                                class="-mx-6 px-8  w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="name" #name="ngModel" [(ngModel)]="modelHotelEdit.name">
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">Dirección</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Dirección"
                                class="-mx-6 px-8  w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="address" #address="ngModel" [(ngModel)]="modelHotelEdit.address">
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">Id del Administrador</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Administrador del Hotel"
                                class="-mx-6 px-8 w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="administratorId" #administratorId="ngModel" [(ngModel)]="modelHotelEdit.administratorId">
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">URL de Imagen</h2>
                        <p>En caso de no tener imagen, coloque 'null'.</p>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="URL de la imagen"
                                class="-mx-6 px-8 w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="image" #image="ngModel" [(ngModel)]="modelHotelEdit.image">
                        </div>
                    </div>
                </div>
            </form>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button
                    class="modal-edit-hotel-close px-4 bg-white text-black p-3 rounded-lg text-black hover:bg-black hover:text-white mr-2">Cancelar</button>
                <button
                    class="modal-edit-hotel-close px-4 bg-white text-black p-3 rounded-lg text-black hover:bg-black hover:text-white mr-2"
                    type="submit" (click)="editHotel()">Editar</button>
            </div>

        </div>
    </div>
</div>

<!--MODAL Eliminar HOTEL-->
<div class="modal-delete-hotel opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-delete-hotel-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <div
            class="modal-delete-hotel-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
            </svg>
            <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->

            <div class="flex justify-between items-center pb-3">

                <div class="flex font-bold justify-center items-center  my-3">
                    <img class="h-10 w-10" src="../../../assets/img/iconHotel.png">
                    <h2 class="px-2 text-3xl"> H O T E L I N G </h2>
                </div>
                <div class="modal-delete-hotel-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path
                            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>
            <p class="text-xl font-bold">Eliminar Hotel</p>


            <!--Body-->
            <form class="w-full bg-gray-200 rounded-lg border border-black shadow-xl mt-2">
                <div class="px-12 pb-10">
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 my-2">Nombre Hotel</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Nombre Hotel"
                                class="-mx-6 px-8  w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="name" #name="ngModel" [(ngModel)]="modelHotelEdit.name" disabled>
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">Dirección</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Dirección"
                                class="-mx-6 px-8  w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="address" #address="ngModel" [(ngModel)]="modelHotelEdit.address" disabled>
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">Id del Administrador</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="Administrador del Hotel"
                                class="-mx-6 px-8 w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="administratorId" #administratorId="ngModel" [(ngModel)]="modelHotelEdit.administratorId" disabled>
                        </div>
                    </div>
                    <div class="w-full mb-2">
                        <h2 class="text-xl text-left text-gray-700 mb-2">URL de Imagen</h2>
                        <div class="flex items-center justify-center">
                            <input type='text' placeholder="URL de la imagen"
                                class=" -mx-6 px-8 w-full border border-black rounded px-3 py-2 text-gray-700 focus:outline-none"
                                name="image" #image="ngModel" [(ngModel)]="modelHotelEdit.image" disabled>
                        </div>
                    </div>
                </div>
            </form>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button
                    class="modal-delete-hotel-close px-4 bg-white text-black p-3 rounded-lg text-black hover:bg-black hover:text-white mr-2">Cancelar</button>
                <button
                    class="modal-delete-hotel-close px-4 bg-white text-black p-3 rounded-lg text-black hover:bg-black hover:text-white mr-2"
                    type="submit" (click)="deleteHotel()">Eliminar</button>
            </div>

        </div>
    </div>
</div>
